@font-face {
  font-family: 'SF Distant Galaxy';
  src: local('SF Distant Galaxy'), url(fonts/SF\ Distant\ Galaxy.ttf), format('ttf');
}

body {
  background-color: none;
  margin: 0;
  font-family: 'SF Distant Galaxy';
}



